html 
    head 
        title Contact 
    body 
        include bootstrap.html
        include header.pug 
        .container
        .col-md-4(style="margin-left:400px")
            h1.text-center Contact us <br><br>
            form(method='post' action='data')
                .row
                    .col.mb-3
                        label.form-label(for='exampleInputName1') Full Name
                        input#exampleInputEmail1.form-control(name='name' type='text' aria-describedby='emailHelp')
                .col.mb-3
                        label.form-label(for='exampleInputEmail1') Email address
                        input#exampleInputEmail1.form-control(name='email' type='email' aria-describedby='emailHelp')
                .row 
                    .col-6.mb-3
                        label.form-label(for='exampleInputPassword1') Password
                        input#exampleInputPassword1.form-control(name='pass' type='password')
                    .col-6.mb-3
                        label.form-label(for='exampleInputPassword1') Age
                        input#exampleInputPassword1.form-control(name='age' type='text')
                    .col-6.mb-3
                        label.form-label(for='exampleInputPassword1') City
                        input#exampleInputPassword1.form-control(name='city' type='text')
                    .col-6.mb-3
                        label.form-label(for='exampleInputPassword1') Mobile
                        input#exampleInputPassword1.form-control(name='mobile' type='text')
                        br
                        button.btn.btn-primary(type='submit',) Submit