html 
    head 
        title Gallery 
    body 
        include bootstrap.html
        include header.pug
        //- include link.pug
        //- each i in array
        
        .container
            
                .row
                    .col-sm-6
                        .card(style='width: 18rem;')
                        img.card-img-top(src='https://cdn.pixabay.com/photo/2022/11/02/22/07/butterfly-7566106_960_720.jpg' alt='...')
                        .card-body
                            h5.card-title Images
                            p.card-text
                             | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                             br 
                            a.btn.btn-primary(href='#') Images
                    .col-sm-6
                        .card(style='width: 18rem;')
                        img.card-img-top(src='https://cdn.pixabay.com/photo/2022/11/10/15/36/church-7583110_960_720.jpg' alt='...')
                        .card-body
                            h5.card-title Images
                            p.card-text                        
                             | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                             br
                            a.btn.btn-primary(href='#') Images

                            .row
                    .col-sm-6
                        .card(style='width: 18rem;')
                        img.card-img-top(src='https://cdn.pixabay.com/photo/2022/10/26/07/44/contrast-7547668_960_720.jpg' alt='...')
                        .card-body
                            h5.card-title Images
                            p.card-text
                             | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                             br 
                            a.btn.btn-primary(href='#') Images
                    .col-sm-6
                        .card(style='width: 18rem;')
                        img.card-img-top(src='https://cdn.pixabay.com/photo/2022/11/19/15/49/heather-7602417_960_720.jpg' alt='...')
                        .card-body
                            h5.card-title Images
                            p.card-text                        
                             | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                             br
                            a.btn.btn-primary(href='#') Images

                            .row
                    .col-sm-6
                        .card(style='width: 18rem;')
                        img.card-img-top(src='https://cdn.pixabay.com/photo/2022/11/12/09/25/mountains-7586568_960_720.jpg' alt='...')
                        .card-body
                            h5.card-title Images
                            p.card-text
                             | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                             br 
                            a.btn.btn-primary(href='#') Images
                    .col-sm-6
                        .card(style='width: 18rem;')
                        img.card-img-top(src='https://cdn.pixabay.com/photo/2022/10/10/19/02/feather-7512484_960_720.jpg' alt='...')
                        .card-body
                            h5.card-title Images
                            p.card-text                        
                             | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                             br
                            a.btn.btn-primary(href='#') Images

                            .row
                    .col-sm-6
                        .card(style='width: 18rem;')
                        img.card-img-top(src='https://cdn.pixabay.com/photo/2022/11/22/16/31/wooden-pegs-7610106_960_720.jpg' alt='...')
                        .card-body
                            h5.card-title Images
                            p.card-text
                             | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                             br 
                            a.btn.btn-primary(href='#') Images
                    .col-sm-6
                        .card(style='width: 18rem;')
                        img.card-img-top(src='https://cdn.pixabay.com/photo/2022/11/18/18/04/leaves-7600669_960_720.jpg' alt='...')
                        .card-body
                            h5.card-title Images
                            p.card-text                        
                             | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                             br
                            a.btn.btn-primary(href='#') Images

                            .row
                    .col-sm-6
                        .card(style='width: 18rem;')
                        img.card-img-top(src='https://cdn.pixabay.com/photo/2022/09/26/01/45/egret-7479478_960_720.jpg' alt='...')
                        .card-body
                            h5.card-title Images
                            p.card-text
                             | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                             br 
                            a.btn.btn-primary(href='#') Images
                    .col-sm-6
                        .card(style='width: 18rem;')
                        img.card-img-top(src='https://cdn.pixabay.com/photo/2022/09/25/09/54/kimono-7477942_960_720.jpg' alt='...')
                        .card-body
                            h5.card-title Images
                            p.card-text                        
                             | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                             br
                            a.btn.btn-primary(href='#') Images

                            
                            

                    