-const array = ["https://cdn.pixabay.com/photo/2022/11/19/15/50/holly-7602422_640.jpg","https://cdn.pixabay.com/photo/2022/11/19/10/03/rose-7601741__340.jpg","https://cdn.pixabay.com/photo/2022/11/14/10/54/sunrise-7591335_960_720.jpg","https://cdn.pixabay.com/photo/2021/12/14/15/37/christmas-tree-6870755_960_720.jpg","https://cdn.pixabay.com/photo/2022/11/20/20/43/fall-7605210_960_720.jpg","https://cdn.pixabay.com/photo/2022/11/12/16/37/pine-7587392_960_720.jpg","https://cdn.pixabay.com/photo/2022/11/14/08/37/park-7591049_960_720.jpg","https://cdn.pixabay.com/photo/2022/11/17/21/18/landscape-7598904_960_720.jpg"];


                           
