h2 Welcome User. Your Data Added Successfully...!!!  

 

  h4
   | Add More Contact Please  
   a(href='/contact')  Click Here 

   h4
   | Go To Home Page Please 
   a(href='/')  Click Here 

   h4
   | Go To Contact Details Page Please 
   a(href='/details')  Click Here 

   
