body{
    background: url("https://media.istockphoto.com/id/1264296869/vector/people-about-us-web-banner-social-communication-work-team-vector.jpg?s=1024x1024&w=is&k=20&c=V4aUgM6RwQu_832JLl9eKMP6K0P5thtvJ_UNVvRYLa0=");
    background-position: center;
     background-repeat: no-repeat; 
}