<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color: pink;">Welcome {{uname}}</h1>
    <br>
    <h4>You'r sucessfully registred</h4>
    <br>
    <h6 style="color: black;">To Activate Your Account Click The Below Link</h6>
    <a href="http://127.0.0.1:1111/act/{{id}}">Activate Account</a>
</body>
</html> 